div { 
	text-align: center;
	color: purple;
	background-color: tomato;
	width: 80%;
	margin: auto;

}
h1 {
	position: relative;
	top: 100px;
	left: 300px;
	opacity: 0.7;
	font-family: 'Roboto', sans-serif;
}
h2 {
	font-family: 'Fjalla One', sans-serif;	
}